*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1em;
  background-color: var(--Pale-blue);
  background-image: url('images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100% 53%;
}
.container{
  width: 385px;
  height: 600px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}
.hero{
  width: 100%;
  height: 30%;
  border-radius: 15px 15px 0 0;
}
h2{
  text-align: center;
  font-weight: 900;
  margin-top: 37px;
  color: var(--Dark-blue)
}
.discription{
  width: 270px;
  text-align: center;
  margin:  12px auto;
  font-weight: 500;
  font-size: .9em;
  line-height: 1.6;
  color: var(--Desaturated-blue);
  text-align: center;
}

.box{
  width: 80%;
  height: 15%;
  background-color: var(--Very-pale-blue);
  margin:  22px auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-content: center;
  border-radius: 10px;

}
.icon, .link{
  margin: auto;
  font-size: .9em;
  color: var(--Bright-blue);
  font-weight: 500;
}
.link{
  padding-right: .5em;
}
.plan{
  align-self: center;
  color: var(--Desaturated-blue);
}
.price{
  font-weight: 700;
  color: var(--Dark-blue)
}
.button-1{
  display: block;
  width: 80%;
  height: 7%;
  margin: auto;
  border-radius: 10px;
  border: 0;
  background-color: var(--Bright-blue);
  font-weight: 900;
  box-shadow: 0 15px 10px 5px var(--Pale-blue);
  cursor : pointer;
  color: var(--Very-pale-blue)
}
.button-1:active{
  background-color: var(--Desaturated-blue);
}
.cancel{
  display: block;
  color: var(--Desaturated-blue);
  text-decoration: none;
  font-weight: 700;
  margin: 25px auto;
  text-align: center;
  font-size: .9em;
  cursor: pointer;
}
@media (max-width:500px) {
  body{
    background-image: url('images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% 50%;
  }
  .container{
    width: 90vw
  }
}
.attribution{
  position: absolute;
  top: 95%;
  left: 75%;
  font-size: .8em;
}
